<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{TITLE}}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600&display=swap"
      em-class="em-font-Mulish-SemiBold"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400&display=swap"
      em-class="em-font-Mulish-Regular"
    />
    <style em="styles">
      .em-font-Mulish-Regular,
      .em-font-Mulish-SemiBold {
        font-family: Mulish, sans-serif !important;
      }
      .em-font-Mulish-Regular {
        font-weight: 400 !important;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0; background-color: #f8f8f8">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#F8F8F8">
      <tr>
        <td align="center" bgcolor="#F1F1F1" style="padding: 40px 20px">
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 660px; margin: 0 auto">
            <tr>
              <td align="center" style="padding: 40px; border-radius: 10px" bgcolor="#FFFFFF">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td align="center" style="padding-bottom: 19px">
                      <img
                        src="https://emcdn.ru/1723052/260225_18128_3bXMa5k.png"
                        width="158"
                        border="0"
                        alt=""
                        style="display: block; width: 100%; max-width: 158px"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 20px" align="center">
                      <div
                        style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a"
                        class="em-font-Mulish-Regular"
                        align="center"
                      >
                        {{BODY}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 0" align="center">
                      <table cellpadding="0" cellspacing="0" border="0" width="300" style="width: 300px; margin: 0 auto">
                        <tr>
                          <td
                            align="center"
                            valign="middle"
                            height="41"
                            style="background-color: #4f7fe0; border-radius: 5px; height: 41px"
                            bgcolor="#4F7FE0"
                          >
                            <a
                              href="{{LINK}}"
                              target="_blank"
                              style="display: block; height: 41px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px; line-height: 41px; text-decoration: none; white-space: nowrap"
                              class="em-font-Mulish-SemiBold"
                            >&nbsp;{{BUTTON_TEXT}}</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
